<footer class="row  mb-1">

  <!--***************************************************-->
  <div class="col-12 p-2 ">
    <div class="row align-items-center ">
      <div class="col-sm-12 col-md-4  p-2">
        <div class="d-flex justify-content-center ">
          <h5>&#169; RestoredHome</h5>
        </div>
      </div>



      <!--icones e acesso a redes socioais-->

      <div class="col-sm-12 col-md-8 p-2 text-center ">
        <div class="d-flex justify-content-center  align-items-center p-2">

          <a href="https://www.youtube.com" target="_blank"  >
            <img class="w-25" src="./assets/icon/youtube.png" alt="youtube">
          </a>

          <a href="https://www.facebook.com" target="_blank">
            <img class="w-25" src="./assets/icon/facebook.png" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="w-25" src="./assets/icon/instagram.png" alt="instagram">
          </a>

          

          
         

        
        </div>
      </div>
      <!--***********************************************-->
    </div>
  </div>
  <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
  <!-- whatsApp flutuante na pagina-->

  <!--***************************************************-->
  <div class="col-12">
    <div class="row">
      <app-whats-app-contato></app-whats-app-contato>
    </div>
  </div>


</footer>


  <div class="row pb-3 ">
    
    <div class="col mt-5 mb-5   d-flex justify-content-evenly   ">
     
        <button class=" scroll-button   " type="button " *ngIf="showBackToTopButton">
          <a (click)="scrollToTop()" >
            <img class="w-100  " src="../../assets/icon/pra-cima2.png" />
          </a>
        </button>
     
    </div>
   
  </div>



