<footer class="">
  <div class="row bg-secondary d-flex justify-content-center p-3 ">
    
    
    

    <!--***************************************************-->

    

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center  flex-column text-center">

      <p>&#169; RestoredHouse</p>

    </div>


 
      <!--redes socioais-->
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex justify-content-center   flex-column text-center">
      <aside>

        <div class="redesocial">

          <a href="https://www.youtube.com/" target="_blank">
            <img src="./assets/icon/youtube.png" alt="youtube">
          </a>

          <a href="https://www.linkedin.com/" target="_blank">
            <img src="./assets/icon/linkedin.png" alt="linkedin">
          </a>
          <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank">
            <img src="./assets/icon/facebook.png" alt="facebook">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="./assets/icon/instagram.png" alt="instagram">
          </a>
          <a href="https://twitter.com/?lang=pt-br" target="_blank">
            <img src="./assets/icon/twitter.png" alt="tweeter atual X">
          </a>

          <a href="https://api.whatsapp.com/send?phone=11969634216" target="_blank">
            <img src="./assets/icon/whatsapp2.png" alt="whatsapp">
            <!--<p>(11) 01234-5678_Numero para o qual sera direcionado a ligação ou envio de msg </p>-->
          </a>
        </div>

      </aside>
    </div>
 
    <!--***********************************************-->



  </div>
  <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
  <!-- whatsApp flutuante na pagina-->

  <div class="row">
    <app-whats-app-contato></app-whats-app-contato>
  </div>


   <!-- icone seta para cima navegação para o topo da pagina-->
  <div class="row col-sm-12 col-lg-12 justify-content-center text-center mt-5" id="paraCima">
     <div id="indicaParaCima" class="text-center">
      <a href="#pageTop"> <img width="10%" src="./assets/icon/simbolo-de-seta-para-cima-em-um-circulo.png" /> </a>
    </div>
  </div>


</footer>