<!-- Modal para solicitação de senha -->
<div>
    <form>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="senhaModalLabel">Autenticação Necessária</h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="senhaInput" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senhaInput" [(ngModel)]="senha">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="verificarSenha()">Entrar</button>
        </div>
      </div>
    </div>
</form>
  </div>

  <form>

  </form>

