RewriteEngine On

RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.restoredhouse.com.br/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !^/api_restoredhouse/ [NC]
RewriteRule ^api_restoredhouse/php/(.*)$ /api_restoredhouse/php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^.*$ /index.html [L,QSA]



<IfModule mod_headers.c>

 # Remove cabeçalhos CORS duplicados
    Header unset Access-Control-Allow-Origin
    Header unset Access-Control-Allow-Methods
    Header unset Access-Control-Allow-Headers

    # Define os cabeçalhos CORS corretamente
    # Header always set Access-Control-Allow-Origin "https://www.restoredhouse.com.br"   
    Header always set Access-Control-Allow-Origin "*"   
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header always set Access-Control-Allow-Credentials "true"
     Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    # Trata requisições OPTIONS (pré-vôo)
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^ - [R=200,L]
</IfModule>


AddDefaultCharset UTF-8

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
     ExpiresByType application/json "access plus 0 seconds"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
</IfModule>
