/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.title-home{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;

}
*{
    margin: 0;
}

.background-button{
    background-color: #677D6A;
    
}

.color-trabalhos-text{
    color: #D6BD98;

}

.background-trabalhos-card{
    background-color: #D6BD98;;
}

.altura__trabalhos{
    min-height: 800px;
}

.altura__card{
    max-height: 500px;
    min-height: 300px;

}

