<main class="altura__trabalhos">
    <section class="row col-lg-12 justify-content-center  ">
        <div class="col-12 row  text-center m-5  pl-5 justify-content-center">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-0"></div>
            <div class="row col-xl-10 col-lg-8 col-md-8 col-sm-12  ">
                <h1 class="title-main-servicos  titulo-servico texto-conteudo  col-12 ">{{texto}}
                </h1>

                <div
                    class="col-12 text-left  rounded-sm  p-5 container-apresentacao-servico text-information-equipe-qualifild  color-trabalhos-text">
                    <h2 class="title-home">Trabalhos que realizamos:</h2>
                    <p class="text-comum">
                        Essa é uma pequena amostra de alguns de nossos trabalhos realizados pela nossa equipe
                    </p>
                    
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-0"></div>

        </div>


        <!-- iniciar os cards-->
        <div class="row pl-4  justify-content-evenly  ">


                <!--serviço 1 revestimentos-->
                <div class="card p-2 mb-4 m-1 background-trabalhos-card altura__card" style="width: 18rem;">
                    <img height="200rem" src="../../assets/img/servicos/revestimentos/revestimentoPorcelanatoPronto.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Revestimento</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light saiba__mais" data-bs-toggle="modal"
                            data-bs-target="#revestimentos">
                            saiba mais
                        </button>

                        <div class="modal fade" id="revestimentos" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Revestimentos</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.</li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer ">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                 <!--serviço 2 Telhados-->
                <div class="card p-2 mb-4 m-1 background-trabalhos-card" style="width: 18rem;" >
                    <img height="200rem" src="../../assets/img/servicos/telhados/telhadoPronto.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Telhados</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética
                            de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light" data-bs-toggle="modal"
                            data-bs-target="#telhados">
                            saiba mais
                        </button>

                        <div class="modal fade" id="telhados" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Telhados</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção
                                                contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e
                                                cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em
                                                uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.
                                            </li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                  <!--serviço 3 porcelanato liquido-->
                <div class="card p-2 mb-4 m-1 background-trabalhos-card" style="width: 18rem;" >
                    <img height="200rem" src="../../assets/img/servicos/porcelanatoLiquido/porcelanatoLiquidoClaro.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Porcelanato liquido</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética
                            de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light" data-bs-toggle="modal"
                            data-bs-target="#porcelanato-liquido">
                            saiba mais
                        </button>

                        <div class="modal fade" id="porcelanato-liquido" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Porcelanato liquido</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção
                                                contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e
                                                cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em
                                                uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.
                                            </li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!--serviço 4 pinturas-->
                <div class="card p-2 mb-4 m-1 background-trabalhos-card" style="width: 18rem;">
                    <img height="200rem" src="../../assets/img/servicos/printuras/pintura-faxada-pronta.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pinturas</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética
                            de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light" data-bs-toggle="modal"
                            data-bs-target="#pinturas">
                            saiba mais
                        </button>

                        <div class="modal fade" id="pinturas" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Pinturas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção
                                                contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e
                                                cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em
                                                uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.
                                            </li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!--serviço 5 Pequenos reparos-->
                <div class="card p-2 mb-4 m-1 background-trabalhos-card" style="width: 18rem;" >
                    <img height="200rem" src="../../assets/img/servicos/pequenosReparos/reparoEncanamento.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pequenos reparos</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética
                            de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light" data-bs-toggle="modal"
                            data-bs-target="#pequenos-reparos">
                            saiba mais
                        </button>

                        <div class="modal fade" id="pequenos-reparos" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Pequenos reparos</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção
                                                contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e
                                                cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em
                                                uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.
                                            </li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                 <!--serviço 6 Alvenaria-->

                 <div class="card p-2 mb-4 m-1 background-trabalhos-card" style="width: 18rem;" >
                    <img height="200rem" src="../../assets/img/servicos/alvenaria/tijolinho.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alvenaria</h5>
                        <p class="card-text">O revestimento de pisos e paredes desempenha um papel fundamental na
                            estética
                            de um espaço.</p>

                        <!-- chama o modal-->
                        <button type="button" class="btn background-button text-light" data-bs-toggle="modal"
                            data-bs-target="#alvenaria">
                            saiba mais
                        </button>

                        <div class="modal fade" id="alvenaria" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Alvenaria</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <p>
                                                Além de adicionar beleza ao ambiente, o revestimento também oferece
                                                proteção
                                                contra desgaste, umidade e manchas.
                                            </p>
                                        </div>
                                        <ul>
                                            <h5>Tipos de revestimentos que trabalhamos:</h5>
                                            <li> Porcelanato: Resistente, durável e disponível em uma variedade de
                                                estilos e
                                                cores.</li>
                                            <li>Cerâmica: Opção econômica, fácil de limpar e adequada para áreas de alto
                                                tráfego.</li>
                                            <li>Vinílico: Versátil, confortável ao caminhar, ideal para áreas internas,
                                                exeto banheiro lavanderia e cozinha</li>
                                            <li>Laminado: Alternativa acessível à madeira, fácil de instalar e
                                                disponível em
                                                uma ampla gama de padrões.</li>
                                            <li>Azulejos: Duráveis, fáceis de limpar e disponíveis em uma ampla gama de
                                                designs, adequados para áres umidas, ou que necessite limpeza
                                                constantes.
                                            </li>
                                            <li>Revestimentos em Pedra: Elegantes e duráveis, oferecendo um visual
                                                sofisticado e resistência ao tempo.</li>
                                        </ul>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary "
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

        </div>





    </section>
</main>