

/* fontes de titulos*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.title-main-servicos {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }

/* fontes de textos communs*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nanum+Gothic+Coding&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.text-comum{
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;


}
