<main class="   borda-top-main">



    <section class="row justify-content-center ">
        <!--inicia o card-->
        <div class="  row mt-5  justify-content-center ">

            <div class="  card-sobre-nos ">
                <!-- card que chama o modal sobre nós-->
                <section class=" row p-4  m-3  gap-3 justify-content-center  align-item-center  ">
                    <div>
                        <h5 class="card-title text-center color-quem-somos-text title-sobre-nos fs-2"> Sobre Nós </h5>
                    </div>
                    <div class="col-12 ">
                        <img class=" img-sobre-nos  " src="../../assets/img/quemSomos/logotipo.jpg" />
                    </div>





                    <!-- Large modal -->
                    <div class="d-grid"> <!-- chama o modal-->
                        <button type="button" class="btn  background-quem-somos color-quem-somos-text p-2"
                            data-bs-toggle="modal" data-bs-target="#sobrenos">Saiba
                            mais sobre nós
                        </button>
                    </div>

                    <!-- Modal -->

                    <div class="modal fade border " tabindex="-1" role="dialog" id="sobrenos">
                        <div class="modal-dialog modal-lg ">
                            <div class="modal-content p-5">
                                <h1> Sobre nós</h1>
                                <p>
                                    Na <span><b> RestoredHome</b> </span>, acreditamos que cada projeto é uma história
                                    por contar, uma narrativa que se desdobra em lares mais acolhedores e espaços de
                                    trabalho mais inspiradores. Somos uma equipe dedicada e apaixonada pela arte da
                                    construção civil, especializada em reformas residenciais e comerciais que
                                    transcendem as expectativas dos nossos clientes.

                                </p>
                                <p>
                                    Desde o primeiro tijolo até o último acabamento, nos comprometemos a transformar
                                    visões em realidade. Nossa abordagem personalizada começa com ouvir atentamente as
                                    suas necessidades e desejos, entendendo a essência do que você busca. Combinamos
                                    essa compreensão com nossa expertise técnica para criar soluções sob medida, que
                                    refletem sua identidade e estilo de vida.
                                </p>
                                <p>
                                    Nosso time é composto por profissionais altamente qualificados, que compartilham uma
                                    paixão pelo ofício e um compromisso com a excelência. Cada membro da equipe traz
                                    consigo anos de experiência e um olhar inovador, garantindo que cada projeto seja
                                    executado com habilidade, precisão e atenção aos detalhes.
                                </p>
                                <p>
                                    Além disso, valorizamos a transparência e a comunicação aberta em todas as etapas do
                                    processo. Mantemos você informado, desde o planejamento inicial até a conclusão do
                                    projeto, para que você se sinta confiante e envolvido em cada decisão tomada.
                                </p>



                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div> -->
                </section>

                <!-- aqui finaliza o codigo do modal -->

            </div>
        </div><!--finaliza o card-->


        <!--Cards missão visão e valores-->
        <div class="row  justify-content-center  p-5 ">




            <!--inicia o card  Missaão-->
            <div class="card card-container  m-2 p-2 col-sm-12 col-md-3 col-lg-3 ">
                <div class="row">
                    <img class="card-img-top  " src="../../assets/img/quemSomos/mission3.jpg" alt="Card image cap">
                </div>
                <div class="pt-5 pb-5 ">
                    <h5 class="card-title" style="color: #677D6A;"> Missão</h5>




                    <div class=" container-button">
                        <button type="button" class=" btn-for-down   p-2  background-quem-somos color-quem-somos-text  "
                            data-bs-toggle="modal" data-bs-target="#mission">Saiba mais
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade " id="mission" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Missão</h1>
                                <p>
                                    Nossa missão vai além de simplesmente entregar um produto final; buscamos criar
                                    experiências memoráveis e resultados que superem suas expectativas.
                                </p>
                                <p>
                                    Trazer a solução para nessecidades residenciais, que o seu seguro não cobre (não lhe
                                    da cobertura)
                                </p>
                                <p>
                                    Nossa missão vai além de simplesmente entregar um produto final; buscamos criar
                                    experiências memoráveis e resultados que superem suas expectativas.
                                </p>
                                <p>
                                    Seja para transformar sua casa em um refúgio de conforto e estilo, ou para projetar
                                    um ambiente de trabalho que inspire inovação e produtividade, estamos aqui para
                                    ajudar a tornar seus sonhos em realidade. Juntos, podemos construir um futuro onde
                                    cada espaço conte uma história única - a sua história.
                                </p>
                                <p>
                                    Confie na <span><b>RestoredHome</b></span> para sua próxima reforma. Estamos aqui
                                    para fazer parte da sua jornada de construção e transformação. Entre em contato
                                    conosco hoje mesmo e vamos começar a construir algo incrível juntos.
                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- aqui finaliza o codigo do modal -->

                </div>
            </div><!--finaliza o card-->







            <!--inicia o card Visão-->
            <div class="card m-2 p-2   col-sm-12 col-md-3 col-lg-3  card-container">
                <img class="card-img-top  " src="../../assets/img/quemSomos/vision.jpg" alt="Card image cap">
                <div class="pt-5 pb-5 ">
                    <h5 class="card-title" style="color: #677D6A;"> Visão</h5>




                    <div class="container-button">
                        <button type="button" class=" btn-for-down p-2  background-quem-somos color-quem-somos-text "
                            data-bs-toggle="modal" data-bs-target="#vision">Saiba mais
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade " id="vision" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Visão</h1>
                                <p>
                                    Na <span><b>RestoredHome</b></span>, nossa visão é ir além das simples paredes e
                                    estruturas físicas. Enxergamos cada projeto como uma oportunidade de criar espaços
                                    que não apenas atendam às necessidades práticas, mas também elevem a qualidade de
                                    vida e o bem-estar daqueles que os habitam. Visualizamos um futuro onde cada casa
                                    seja um refúgio de conforto e cada ambiente de trabalho seja um centro de inspiração
                                    e produtividade.
                                </p>
                                <p>

                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- aqui finaliza o codigo do modal -->

                </div>
            </div><!--finaliza o card-->

            <!-- Valores-->
            <!--inicia o card-->
            <div class="card m-2  p-2 col-sm-12 col-md-3 col-lg-3 card-container">
                <img class="card-img-top  " src="../../assets/img/quemSomos/valores2.jpg" alt="Card image cap">
                <div class=" pt-5 pb-5 ">
                    <h5 class="card-title " style="color: #677D6A;"> Valores</h5>




                    <div class="container-button">
                        <button type="button" class=" btn-for-down p-2 background-quem-somos color-quem-somos-text "
                            data-bs-toggle="modal" data-bs-target="#valor">Saiba
                            mais
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade  " id="valor" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                
                                <div class="modal-body">
                                    <h1> Valores</h1>
                                    <p>
                                        Nossos valores fundamentais orientam cada aspecto do nosso trabalho e definem
                                        quem
                                        somos como empresa:
                                    </p>
                                    <p>
                                        Excelência: Buscamos a excelência em tudo o que fazemos, desde a seleção dos
                                        materiais até a execução dos detalhes finais. Nosso compromisso com a qualidade
                                        garante que cada projeto seja concluído com os mais altos padrões de artesanato
                                        e
                                        durabilidade.
                                    </p>
                                    <p>
                                        Integridade: Agimos com integridade em todas as nossas interações, mantendo a
                                        transparência, a honestidade e o respeito em cada etapa do processo. Valorizamos
                                        relacionamentos baseados na confiança mútua e no profissionalismo.
                                    </p>

                                    <p>
                                        Inovação: Abraçamos a inovação e a criatividade como motores do nosso progresso.
                                        Estamos constantemente buscando novas soluções e tecnologias para aprimorar
                                        nossos
                                        serviços e oferecer aos nossos clientes experiências únicas e impactantes.
                                    </p>
                                    <p>
                                        Colaboração: Reconhecemos o poder da colaboração e valorizamos as contribuições
                                        de
                                        cada membro da nossa equipe. Trabalhamos em conjunto, compartilhando ideias e
                                        habilidades, para alcançar resultados excepcionais e superar desafios comuns.
                                    </p>
                                    <p>
                                        Paixão pelo Cliente: Colocamos nossos clientes no centro de tudo o que fazemos.
                                        Estamos dedicados a entender suas necessidades e superar suas expectativas,
                                        oferecendo um serviço personalizado e uma experiência verdadeiramente
                                        excepcional.
                                    </p>

                                    <p>
                                        Nosso dever é priorisar:
                                        <li>Responsbilidade</li>
                                        <li>Compromisso</li>
                                        <li>Honestidade</li>
                                        <li>Confiança</li>
                                        <li>Foco</li>
                                        <li>Comprometimento</li>
                                        <li>Respeito</li>
                                        E paixão pelo trabalho

                                    </p>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- aqui finaliza o codigo do modal -->



                </div>
            </div><!--finaliza o card-->

            <!--modal teste-->
            <div>
                

            </div>

        </div>
    </section>
</main>