<main>
    <section class="col justify-content-center">


        <div class=" row  col-12 justify-content-center ">

            <!--inicia o card-->

            <div class="card col-sm-12  col-md-9  col-lg-4 m-5" style="width: 30rem;">
                <img class="card-img-top" src="../../assets/img/servicos/revestimentoDeParedeComPedras.jpg"
                    alt="Card image cap">
                <div class="p-5 d-flex flex-column justify-content-center">
                    <h5 class="card-title"> Sobre Nós </h5>



                    <!-- Modal -->

                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target=".bd-sobrenos-modal-lg">Saiba mais</button>

                    <div class="modal fade bd-sobrenos-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Sobre nós</h1>
                                <p>
                                    What is Lorem Ipsum?
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.


                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- aqui finaliza o codigo do modal -->

                </div>
            </div><!--finaliza o card-->





            <!--inicia o card-->

            <div class="card col-sm-12  col-md-9 col-lg-4  m-5 " style="width: 30rem;">

                <div class="card-body mt-5" style="text-align: center;">


                    <!--Carrocel-->




                    <!-- fim carrocel-->

                </div>
            </div><!--finaliza o card-->

        </div>

        <!--Missaão-->
        <div class="row  col-lg-12 justify-content-center ">
            <!--serviço 3-->
            <!--inicia o card-->
            <div class="card m-5 col-sm-12  col-md-12 col-lg-3  d-flex " style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/servicos/revestimentoDeParedeComPedras.jpg"
                    alt="Card image cap">
                <div class="p-5 d-flex flex-column justify-content-center ">
                    <h5 class="card-title"> Missão</h5>



                    <!-- Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target=".bd-missao-modal-lg">Saiba mais</button>

                    <div class="modal fade bd-missao-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Missão</h1>
                                <p>
                                    Trazer a solução para nessecidades residenciais, que o seu seguro não cobre (não lhe
                                    da cobertura)


                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- aqui finaliza o codigo do modal -->

                </div>
            </div><!--finaliza o card-->

            <!--serviço 4  Visão-->
            <!--inicia o card-->
            <div class="card m-5 col-sm-12 col-md-12 col-lg-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/servicos/revestimentoDeParedeComPedras.jpg"
                    alt="Card image cap">
                <div class="p-5 d-flex flex-column justify-content-center ">
                    <h5 class="card-title"> Visão</h5>



                    <!-- Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target=".bd-visao-modal-lg">Saiba mais</button>

                    <div class="modal fade bd-visao-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Visão</h1>
                                <p>
                                    Atingir o maior numero de clientes não segurados, visando a qualidade e eficiência
                                    nos nossos serviços prestados, dentro de um curto período de tempo


                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- aqui finaliza o codigo do modal -->

                </div>
            </div><!--finaliza o card-->

            <!--serviço 5 Valores-->
            <!--inicia o card-->
            <div class="card m-5 col-sm-12 col-md-12 col-lg-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/servicos/revestimentoDeParedeComPedras.jpg"
                    alt="Card image cap">
                <div class="p-5 d-flex flex-column justify-content-center ">
                    <h5 class="card-title"> Valores</h5>



                    <!-- Modal -->

                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target=".bd-valor-modal-lg">Saiba mais</button>

                    <div class="modal fade bd-valor-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-5">
                                <h1> Valores</h1>
                                <p>
                                    Nosso dever é priorisar:
                                    <li>Responsbilidade</li>
                                    <li>Compromisso</li>
                                    <li>Honestidade</li>
                                    <li>Confiança</li>
                                    <li>Foco</li>
                                    <li>Comprometimento</li>
                                    <li>Respeito</li>
                                    E paixão pelo trabalho

                                </p>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- aqui finaliza o codigo do modal -->



                </div>
            </div><!--finaliza o card-->

        </div>



    </section>
</main>