@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
   padding: 0;
   margin: 0;
}
/* .alinhar-elementos-nav{
   border: solid 4px white;
   align-items: center;
   align-content: center;
} */
#logo-titulo{
    font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
        
}


/* max-width:*/
@media (max-width: 576px) {

    .titulo-do-header{
        display: none;
    }

    .imgStyle{
        display: none;
    }


   
 }


 /* Cores na pagina inicial*/

 

 .titulo{
    color:#D6BD98;
 }

 .background-amburguer{
   background-color: #D6BD98;
 }

 .nav-menu-background{
    background-color: #1A3636;
   
 }

 .nav-menu-texto{
    color: #D6BD98;
 }

 .logo{
    border-radius: 48%;
 }
 

 


 
 
 /* min-width:*/