a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight:lighter;
  }
  nav{
    border: 0;
  }
  
  


  /* LOGO E TITULO*/

 

  .logoImgName{
    display: flex;
    flex-direction: row-reverse;
     align-items: center;
     
}
  #logoimgagem{
    margin-right: 20px;  
  }

  .imglogo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 3px #e7c536;
  }

  
  #logoimgagem .imglogo{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 3px #e7c536;

  }
 
  #logotitulo{
    font-size: 28px;
    text-shadow: 0px -1px   orangered;
    text-shadow: 0px -1px white;
    
  }
  
  
  
 

 



  
  

  
  @media(max-width:600px){
    #logotitulo{
      display: none;
    }
    .fontMenu{
      font-size: 10px;
      
    }

    .amburger{
      box-shadow: 0px 0px 10px 5px white;
    }
    
       
  }

  @media(min-width:1024px){
    #logotitulo{
      font-size: 40px;
      text-shadow: 1px 1px white;
    }
  }

  @media(min-width:1280px){
    #logotitulo{
      font-size: 50px;
      text-shadow: 1px 1px white;
      
    }
  }
  
 
  
 
 
  
 

  
  

  