.login-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .background-login{
    border: solid 1px #D6BD98 ;
    background-color: #677D6A;
    color:#D6BD98;
  }

  .button-login{
    border: solid 1px #D6BD98 ;
    width: 71%;
    color: #D6BD98;
    background-color:#1A3636 ;
  }