<main class="row mainBackgnd HomeMainClass">
    <div class="col-xl-12  ">
        <div class="row border">
            <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column  container-frase-efeito p-3 ">

                <h4 class="  testoHometitle p-3 ">Transformamos lares, cuidamos do seu conforto.</h4>
                
                <div class=" p-3 ">
                  
                    <p class="testoHome"> Sua casa em boas mãos:</p>
                    <p class="testoHome"> nossa especialidade é fazer tudo funcionar perfeitamente para você.</p>

                    <p class="testoHome">Renove seu espaço, transforme seu lar.</p>
                    <p class="testoHome">Onde sonhos se tornam realidade, cada reforma é uma história de  e beleza.</p>
                </div>
                

            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column  container-frase-efeito p-3">

                
                <div row>
                <img width="100%"  class="imagemHome" src="../../assets/img/home/apartamento.jpg"/>
                </div>

            </div>

        </div>

        



    </div>



</main>