/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');


.title-home{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;

}
.autura{
    height: 90vh;
}

#contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    right: 10px;
    bottom: 10px;
    text-align: right;
    
}
#contato p{
    color: #0b0a0a;
}
#contato img{
    width: 50px;
    height: 50px;
}
#contato a{
    text-decoration: none;
    color: #ffffff;
    
}

.background-contatos{
    background-color: #677D6A;
    padding-bottom: 30px;
}

.color-contatos-text{
    color: #D6BD98;

}

.background-contatos-card{
    background-color: #D6BD98;;
}

@media(max-width: 600px){
    .section-box{
        display: flex;
        box-sizing: border-box;
    }
}