<main>
    <section class="row col-lg-12 justify-content-center ">
        <div class="col-sm-12  col-md-12 col-lg-12  col-xl-12 m-5 text-center">
            <h1>solicite seu orçamento</h1>
        </div>
        <div class="card col-sm-12  col-md-8 col-lg-5  col-xl-5 m-2  trabalho-container">
            <div class="container">
                <h1>FormSubmit Demo</h1>
                <form target="_blank" action="https://formsubmit.co/jc200507@gmail.com" method="POST">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                      </div>
                      <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
                  <input type="hidden" name="_captcha" value="false">
                  <input type="text" name="_honey" style="display:none">
                  <input type="hidden" name="_subject" value="Novo contato!">
                </form>
              </div>

        </div>
        <div class="card col-sm-12  col-md-8 col-lg-5  col-xl-5 m-2  trabalho-container">

            <div class="card-body mt-5" style="text-align: center;">
                <form>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">
                            <h3>texto informativo sobre contatos</h3>
                        </label>
                        <p>
                            Lorem ipsum dolor sit amet. In consequatur eius vel reprehenderit inventore et accusamus
                            neque. Ut dolores dolorum ut voluptatem nemo ut possimus inventore ut adipisci autem sed
                            veritatis deserunt aut dolores nobis aut aperiam dolorem. Et perferendis cupiditate sit odit
                            iure qui voluptas perferendis ab consectetur similique.

                            Qui voluptatem voluptatem in dolorem doloremque et iusto cumque est sequi dignissimos ad
                            fugiat voluptas et doloremque consequatur sit laborum blanditiis? At quod amet sed
                            asperiores pariatur et neque consequatur ut voluptatibus minus et voluptas reiciendis. Rem
                            fuga sint vel rerum nobis ut ipsa dolorem qui quis veritatis rem sapiente officiis sit
                            aliquam Quis rem quaerat ipsam.

                            Id rerum minima rem iste dolorem in eveniet tenetur aut architecto delectus. Sed molestias
                            voluptatibus vel aperiam quaerat sit galisum nemo. Et placeat accusamus ea cumque
                            consequatur a quisquam quaerat eos quae deserunt est quae sint in modi galisum. Est velit
                            repellat in quos modi sed quia aspernatur.


                        </p>
                    </div>
                </form>

                

            </div>

            
        </div><!--finaliza o card-->


        <div class="card col-sm-12  col-md-8 col-lg-5  col-xl-5 m-2  trabalho-container">

            <div class="card-body mt-5" style="text-align: center;">
                               
                        <label for="exampleFormControlTextarea1">
                            <h3>envie nos um email, usando o seu proprio gerenciador de email</h3>
                        </label>

                        <a href="mailto:jc200507@gmail.com?subject=HTML5CSS3teste">
                            <img src="./assets/icon/email2.png" alt="enviar e-mail" title="enviar email para o contato">
                            <p>jc200507@gmail.com</p>
                          </a>
             </div>

            
        </div><!--finaliza o card-->
       

    </section>





   






</main>