<main class="background-contatos mb-3 mt-1 row justify-content-center autura">
  <section class="col-12  container__contatos ">
    <div class="row justify-content-center ">
      <div class="col-sm-12  col-md-12 col-lg-12  col-xl-12 m-5 text-center">
        <h2 class="title-home color-contatos-text">Entre em contato conosco</h2>
      </div>
    </div>

    <!-- testo informativo sobre contatos-->
    <div class="row justify-content-center m-1 ">
      <div class="card col-sm-12     col-md-8 col-lg-5  col-xl-5 m-2  trabalho-container background-contatos-card">

        <div class="card-body mt-5  ">


          <div class="w-100">
            <label for="exampleFormControlTextarea1">
              <h3> contatos</h3>
            </label>
            <div>
              <p>
                Queremos ouvir você! Se você tiver alguma dúvida, sugestão ou comentário, por favor, não hesite em nos
                contatar. Nossa equipe está aqui para ajudar e responder a todas as suas perguntas.

              </p>
              <p>vc também pode prencher o formulario de contatos com suas duvidas, que em breve nós retornaremos com
                uma
                resposta</p>
              <p>ou pode nos contatar pelas nossas redes sociais, você também pode acessar nosso whatsApp pelo menu
                flutuante do lado direito da pagina</p>
            </div>

            <div>
              <h5>Nosso E-mail: </h5>
              <p>
                EndereçoE-mail@emailda Empresa]
              </p>
            </div>

            

            <p>Não importa o motivo do seu contato, estamos prontos para ajudar. Aguardamos sua mensagem!</p>


          </div>
        </div>

      </div><!--finaliza o card-->



      <!-- link para enviar  email para empresa-->
      <div class="card col-sm-12  col-md-8 col-lg-5  col-xl-5 m-2  trabalho-container background-contatos-card">

        <div class="card-body mt-5 text-center ">

          <label for="exampleFormControlTextarea1">
            <h3>envie nos um email, usando o seu proprio gerenciador de email</h3>
          </label>


          <a class="nav-link text-dark " href="mailto:jc200507@gmail.com?subject=restoredHouse">
            <img src="./assets/icon/email2.png" alt="enviar e-mail" title="enviar email para o contato">
            <p>gmail@gmail.com</p>
          </a>
        </div>


      </div><!--finaliza o card-->
    </div>

  </section>

</main>