.background-button{
    background-color: #677D6A;
    color: #D6BD98;
    width: 300px;
 }

 .color-text-title{
    color: #D6BD98;
 }
 .text-color-title-form{
    color:#677D6A;
 }

 .background-card{
   background-color: #D6BD98;
   color: #1A3636;
 }

 .autura{
   min-height: 800px;
 }

 .autura_card{
   min-height: 500px;
   max-height: 600px;
 }

 @media (min-width: 1024px) {
   .container_cards{
       min-height: 100lvh;
   }
}

 .title__moda{ /* esse estilo vai possibilitar a quebra de linhas no titulo do modal*/
   max-width: 90%;
   white-space: normal; /* Permite que o texto quebre as linhas automaticamente */
 word-wrap: break-word; /* Quebra as palavras longas, se necessário */
 overflow-wrap: break-word; /* Compatível com navegadores modernos */
}