<main class="row justify-content-center  p-5">
  <div class="row justify-content-center m-3">
    <button class="btn  m-1  background-button" (click)="finishinSection()"> Encerrar Sessão</button>
 
    <button class="btn  m-1  background-button" routerLink="/editar-feedback" > Excluir Feedback</button>
</div>
  <h1 class="text-center color-text-title">Cadastrar Feedback</h1>
  <form class=" g-3 form-control  text-center  large-cadastro-feedback" style="background-color:#D6BD98;">

    <h4 class="text-color-title-form">Informações para o card</h4>
    <div class="d-grid m-1">
      <input [(ngModel)]="feedbackData.imagemcard" type="text" id="imagem" name="imagem"
        placeholder="Url da imagem do card do feedBack">
    </div>

    <div class="d-grid m-1">
      <input [(ngModel)]="feedbackData.titulo" type="text" id="titulo" name="titulo"
        placeholder="Título do card do Feedback">
    </div>

    <div class="d-grid m-1">
      <textarea [(ngModel)]="feedbackData.textodocard" id="apresentacao" name="apresentacao" rows="4"
        placeholder="texto de apresentação do feedBack para o card"></textarea>
    </div>

    <!-- a partir daqui são os dados do modal-->

    <h4 class="text-color-title-form">Informações para o modal</h4>
    <div class="d-grid m-1">
      <input [(ngModel)]="feedbackData.titulomodal" type="text" id="tituloModal" name="tituloModal"
        placeholder="Título do Feedback no  modal">
    </div>
    <div class="d-grid m-1">
      <textarea [(ngModel)]="feedbackData.textcardmodal" id="texto" name="texto" rows="10"
        placeholder="Texto de feedBack para o modal"></textarea>
    </div>
    <div class="d-grid m-1">
      <input [(ngModel)]="feedbackData.imagemcardmodalurl" type="text" id="linkImagem" name="linkImagem"
        placeholder="Url para imagem no modal">
    </div>
    <div class="d-grid m-1 ">
      <input [(ngModel)]="feedbackData.urlvideo" type="text" id="link" name="link"
        placeholder="Url para encorporar video no modal">
    </div>
    <button type="submit" id="enviar"  
                          (click)="cadastrarFeedback()"
                          (click)="animateButton()" 
                          class=" btn background-button m-2 ">Salvar Feedback</button>
  </form>
</main>