<main class="row  p-2  ">

      
        <div class="col-sm-12 col-md-6 p-3 ">
            <h4>Transformamos lares, cuidamos do seu conforto.</h4>


            <p> Sua casa em boas mãos:</p>
            <p> nossa especialidade é fazer tudo funcionar perfeitamente para você.</p>

            <p>Renove seu espaço, transforme seu lar.</p>
            <p>Onde sonhos se tornam realidade, cada reforma é uma história a sendo contada.</p>

        </div>

        <div class="col-sm-12 col-md-6  p-3 ">
            <img class="imgmainhome" width="100%"  src="../../assets/img/home/apartamento.jpg" />
        </div>
</main>